<div *ngIf="restaurant" class="card">
    <div class="card-content">
        <div class="media-content">
            <p class="title is-4">{{restaurant.name}}</p>
            <p class="subtitle is-6">{{restaurant.time}} minutos</p>
        </div>
        <div class="content">
            <span class="icon">
                <i class="fas fa-map-marker"></i>
            </span>
            <span>{{restaurant.address}}</span>
            <span class="icon">
                <i class="fas fa-utensils"></i>
            </span>
            <span>{{restaurant.food}}</span>
        </div>
    </div>
</div>
